
.contaier {

  width: auto;
  text-align: center;

}

h1 {

  text-align: center;

}

#test {

width: 360px;
height: 360px;
background-image: asset_url('tttgrid.png');
background-size: cover;
z-index: -1;
margin-left: auto;
margin-right: auto;

}

.col1 {
  float: left;
}
.col2 {
  float: left
}
.col3 {
  float: left;
}

#b1 {

  width: 110px;
  height: 110px;
  margin: 0px 15px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#b2 {

  width: 110px;
  height: 110px;
  margin: 15px 15px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b3 {

  width: 110px;
  height: 110px;
  margin: 15px 15px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b4 {

  width: 110px;
  height: 110px;
  margin: 0px 15px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b5 {

  width: 110px;
  height: 110px;
  margin: 15px 15px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b6 {

  width: 110px;
  height: 110px;
  margin: 15px 15px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b7 {

  width: 110px;
  height: 110px;
  margin: 0px 0px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b8 {

  width: 110px;
  height: 110px;
  margin: 15px 0px 15px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#b9 {

  width: 110px;
  height: 110px;
  margin: 15px 0px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.buttons {


  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#start {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#info {

  text-align: center;

}
